{{ log_path }}{{ log_file }} {
    daily
    rotate {{ log_rotate_days }}
    compress
    delaycompress
    missingok
    notifempty
    create 0640 apache apache
    postrotate
        /usr/bin/systemctl reload httpd.service > /dev/null 2>/dev/null || true
    endscript
}

